<<<<<<< HEAD
%h1 Editing collection

= render 'form'

= link_to 'Show', @collection
\|
= link_to 'Back', collections_path
=======
%h1 Редактирование коллекции

= render 'form'
= link_to 'Назад', collections_path

\|
= link_to 'Показать', @collection


>>>>>>> 3b08d44ef54a364c95177681c24fb1a4794d5706
