=breadcrumb_tag do
  %li
    = link_to 'Список коллекций', collections_path
  %li
    = link_to(@collection.colname, @collection)  
  %li.active
    = t('headers.collections.edit')  

    
.page-header
  %h1= t('headers.collections.edit')

= render 'form'

