%h1 Коллекции

<<<<<<< HEAD
%table
  %thead
    %tr
      %th Название коллекции&nbsp&nbsp
      %th Описание&nbsp&nbsp
      %th Дата начала показаe&nbsp&nbsp
      %th Дата окончания&nbsp&nbsp
      %th
      %th
      %th
=======
%table.table.table-hover.table-striped.center
  %thead
    %tr
      %th Название коллекции
      %th Описание
      %th Дата начала показа
      %th Дата окончания
      %th.p50
      %th.p50
      %th.p50
>>>>>>> 3b08d44ef54a364c95177681c24fb1a4794d5706

  %tbody
    - @collections.each do |collection|
      %tr
        %td= collection.colname
        %td= collection.shdescription
        %td= collection.begindate
        %td= collection.enddate
<<<<<<< HEAD
        %th &nbsp&nbsp
        %td= link_to 'Показать', collection
        %th &nbsp&nbsp
        %td= link_to 'Редактировать', edit_collection_path(collection)
        %th &nbsp&nbsp
        %td= link_to 'Удалить', collection, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Collection', new_collection_path
=======
        %td
          = link_to collection, class: 'btn btn-success' do
            = fa_icon :eye
        %td
          = link_to edit_collection_path(collection), class: 'btn btn-info' do
            = fa_icon :edit
        %td
          = link_to collection, :method => :delete, :data => { :confirm => t('helpers.sure') }, class: 'btn btn-danger' do
            = fa_icon :times
%table.table.table-hover.table-striped.center
  %caption
    .pull
      = link_to t('app.collections.new-button'), new_collection_path, class: 'btn btn-primary'
>>>>>>> 3b08d44ef54a364c95177681c24fb1a4794d5706
