=breadcrumb_tag do
  %li.active
    Список коллекций
.page-header
  %h1= t('headers.collections.index') 
  
%table.table.table-hover.table-striped
  %caption
    = link_to new_collection_path, class: 'btn btn-success' do
      = fa_icon :plus
      = t('buttons.new.collection')   
  %thead
    %tr
      %th= Collection.human_attribute_name(:colname)
      %th= Collection.human_attribute_name(:shdescription)
      %th= Collection.human_attribute_name(:begindate)
      %th= Collection.human_attribute_name(:enddate)
      %th= Collection.human_attribute_name(:showrooms)
<<<<<<< HEAD
      %th
      %th
      %th
=======
      %th.p50
      %th.p50
      %th.p50
>>>>>>> origin/master

  %tbody
    - @collections.each do |collection|
      %tr
<<<<<<< HEAD
        %td.center= collection.colname
        %td.center= collection.shdescription
        %td.center= collection.begindate
        %td.center= collection.enddate
        %td.center= collection.showrooms.map{|x| x.roomname}.join(', ')
        %td.right
          = link_to collection, class: 'btn btn-warning' do
=======
        %td= collection.colname
        %td= collection.shdescription
        %td= collection.begindate
        %td= collection.enddate
        %td= collection.showrooms.map{|x| x.roomname}.join(', ')
        %td
          = link_to collection, class: 'btn btn-success' do
>>>>>>> origin/master
            = fa_icon :eye
            = t('buttons.show')
          = link_to edit_collection_path(collection), class: 'btn btn-info' do
            = fa_icon :edit
            = t('buttons.edit')
          = link_to collection, :method => :delete, 
          :data => { :confirm => t('buttons.confirm.collection') }, 
          class: 'btn btn-danger' do
            = fa_icon :times
            = t('buttons.destroy')
