%p#notice= notice

%p
  %b Colname:
  = @collection.colname
%p
  %b Shdescription:
  = @collection.shdescription
%p
  %b Begindate:
  = @collection.begindate
%p
  %b Enddate:
  = @collection.enddate
%p
  %b Showroom:
  = @collection.showrooms.map{ |a| a.roomname }.join(', ')

= link_to 'Назад', collections_path
\|
= link_to 'Редактировать', edit_collection_path(@collection)


