= form_for @exhibit do |f|
  = error_messages_for @exhibit
  .row
    .col-md-4
      .form-group
        = f.label :name
        = f.text_area :name, class: 'form-control'
        = f.error_messages_for(:name)
    .col-md-4
      .form-group
        = f.label :sdescription
        = f.text_area :sdescription, class: 'form-control'
        = f.error_messages_for(:sdescription)
    .col-md-4
      .form-group
        = f.label :insurance
        = f.number_field :insurance, class: 'form-control'
        = f.error_messages_for(:insurance)
    .col-md-4
      .form-group
        = f.label :century
        = f.number_field :century, class: 'form-control'
        = f.error_messages_for(:century)
  .row
    .col-md-4
      .form-group
        = f.label :height
        = f.number_field :height, class: 'form-control'
        = f.error_messages_for(:height)
    .col-md-4
      .form-group
        = f.label :width
        = f.number_field :width, class: 'form-control'
        = f.error_messages_for(:width)
    .col-md-4
      .form-group
        = f.label :length
        = f.number_field :length, class: 'form-control'
        = f.error_messages_for(:length)
  .row
    .col-md-4
      .form-group
        = f.label :tempcontrol
        = f.check_box :tempcontrol
    .col-md-4
      .form-group
        = f.label :himiditycontrol
        = f.check_box :himiditycontrol
    .col-md-4
      .form-group
        = f.label :peopleprotect
        = f.check_box :peopleprotect

  .row
    .col-md-4
      .form-group
        = f.label :collection, {id: 'collection_label'}
        = f.select :collection_id, Collection.all.map{|x| [x.colname, x.id]}, {},  {class: 'form-control', id: 'collection_select'}
        %h6 Выберите другую коллекцию или оставьте текущую.
        = f.error_messages_for(:collection_id)   
  .actions.margin-small-top
    = f.submit nil, class: 'btn btn-primary', id: 'exhibit_save'
