= form_for @exhibit do |f|
  = error_messages_for @exhibit
  .row
    .col-md-4
      .form-group
        = f.label :name
        = f.text_area :name, class: 'form-control'
        = f.error_messages_for(:name)
    .col-md-4
      .form-group
        = f.label :sdescription
        = f.text_area :sdescription, class: 'form-control'
        = f.error_messages_for(:sdescription)
    .col-md-4
      .form-group
        = f.label :insurance
        = f.number_field :insurance, class: 'form-control'
        = f.error_messages_for(:insurance)
    .col-md-4
      .form-group
        = f.label :century
        = f.number_field :century, class: 'form-control'
        = f.error_messages_for(:century)
  .row
    .col-md-4
      .form-group
        = f.label :height
        = f.number_field :height, class: 'form-control'
        = f.error_messages_for(:height)
    .col-md-4
      .form-group
        = f.label :width
        = f.number_field :width, class: 'form-control'
        = f.error_messages_for(:width)
    .col-md-4
      .form-group
        = f.label :length
        = f.number_field :length, class: 'form-control'
        = f.error_messages_for(:length)
  .row
    .col-md-4
      .form-group
        = f.label :tempcontrol
        = f.check_box :tempcontrol
    .col-md-4
      .form-group
        = f.label :himiditycontrol
        = f.check_box :himiditycontrol
    .col-md-4
      .form-group
        = f.label :peopleprotect
        = f.check_box :peopleprotect
    .col-md-6.hidden-edit
      .form-group
      = f.label :collection_id
      = f.select :collection_id, Collection.all.map{|x| [x.colname, x.id]}, {}, {class: 'form-control'}
      = f.error_messages_for(:collection_id)
      %br
  .actions.margin-small-top
    = f.submit nil, class: 'btn btn-primary'
  - if is_admin?
    .row.bottom20
      .col-md-12
        -# Кнопка для добавления связи роль-пользователь. См. role_users_helper
        = link_to_add_collection(f, f.object)
    - i = 0
    = f.fields_for(:collections) do |fr|
      -# Скрытое поле - id связи роль-пользователь. Иначе все связи будут
      -# новыми
      = fr.hidden_field(:id)
      -# Чтобы не повторять код, выделяем его часть в отдельный файл
      = render('exhibits/one_exhibit_form', fr: fr, i: i + 1)
    - # nested_finish
