%h1 Editing exhibit

= render 'form'
<<<<<<< HEAD

= link_to 'Show', @exhibit
\|
= link_to 'Back', exhibits_path
=======
= link_to 'Назад', exhibits_path
\|
= link_to 'Редактировать', @exhibit


>>>>>>> 3b08d44ef54a364c95177681c24fb1a4794d5706
