%h1 Editing showroom

= render 'form'

<<<<<<< HEAD
= link_to 'Show', @showroom
\|
= link_to 'Back', showrooms_path
=======
= link_to 'Показать', @showroom
\|
= link_to 'Назад', showrooms_path
>>>>>>> 3b08d44ef54a364c95177681c24fb1a4794d5706
