%h1 Список выставочных залов

%table.table.table-hover.table-striped.center
  %thead
    %tr
      %th= Showroom.human_attribute_name(:roomname)
      %th.p50
      %th.p50
      %th.p50

  %tbody
    - @showrooms.each do |showroom|
      %tr
        %td{:style=>'text-align:center'}= showroom.roomname
        %td
          = link_to showroom, class: 'btn btn-success' do
            = fa_icon :eye
        %td
          = link_to edit_showroom_path(showroom), class: 'btn btn-info' do
            = fa_icon :edit
        %td
          = link_to showroom, :method => :delete, :data => { :confirm => t('helpers.sure') }, class: 'btn btn-danger' do
            = fa_icon :times
%table.table.table-hover.table-striped.center
  %caption
    .pull
      = link_to t('app.showrooms.new-button'), new_showroom_path, class: 'btn btn-primary'
