=breadcrumb_tag do
  %li
    = link_to 'Список залов', showrooms_path
  %li.active
    = t('headers.showrooms.new')  
.page-header
  %h1= t('headers.showrooms.new')

= render 'form'
%br
= link_to 'Назад', showrooms_path, class: 'btn btn-primary'
