=breadcrumb_tag do
  %li
    = link_to 'Список залов', showrooms_path
  %li
    = link_to(@showroom.roomname, @showrooms)  
  %li.active
    = t('headers.showrooms.show')

%dl
  %dt= Showroom.human_attribute_name(:roomname)
  %dd= @showroom.roomname

= link_to 'Назад', showrooms_path
\|
= link_to 'Редактировать', edit_showroom_path(@showroom)
