=breadcrumb_tag do
  %li
    = link_to 'Список ролей', roles_path
  %li.active
    = t('headers.roles.new')  
.page-header
  %h1= t('headers.roles.new')

= render 'form'
%br
= link_to 'Назад', roles_path, class: 'btn btn-primary'
